<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Login.Properties.Settings.qlthuvienConnectionString"
            connectionString="Data Source=DESKTOP-LRS7A72\SQLEXPRESS;Initial Catalog=qlthuvien;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="Login.Properties.Settings.qlthuvien2ConnectionString"
            connectionString="Data Source=DESKTOP-LRS7A72\SQLEXPRESS;Initial Catalog=qlthuvien2;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>